apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-web-api-config
data:
  APPLICATION_NAME: {{ .Values.webApi.applicationName }}
  APPLICATION_LICENSE_KEY: {{ .Values.webApi.serverLicenseKey }}
  APPLICATION_REGION: {{ .Values.webApi.region | quote}}
  FORCEHTTPS: "false"
  PORT: "5000"
  DATABASE_MAXIMUMPOOLSIZE: {{ .Values.webApi.databaseMaximumPoolSize | quote}}
  {{ if or .Values.certmanager.enabled .Values.ingress.forceHttpsRedirect }}
  JWT_AUDIENCE: https://{{ .Values.ingress.hosts.webApiHost }}
  {{ else }}
  JWT_AUDIENCE: http://{{ .Values.ingress.hosts.webApiHost }}
  {{ end }}
  REDIS_ENABLESSL: {{ .Values.webApi.redis.enableSsl | quote }}
  REDIS_ENABLEDATABASECACHING: {{ .Values.webApi.redis.enableDatabaseCaching | quote }}
  RABBITMQ_ENABLED: {{ .Values.services.rabbitMq.enabled | quote }}
  RABBITMQ_PREFETCHCOUNT: {{ .Values.services.rabbitMq.prefetchCount | quote }}
  RABBITMQ_DELAYEDMESSAGEPLUGINENABLED: {{ .Values.services.rabbitMq.delayedMessagePluginEnabled | quote }}
  GOOGLE_CLIENT_ID: {{ .Values.sso.google.clientId | quote }}
  {{ range $index, $value := .Values.webApi.ipRateLimitOptions.ipWhitelist }}
  IPRATELIMITOPTIONS_IPWHITELIST_{{$index}}: {{ $value | quote }}
  {{ end }}
  {{ if .Values.webApi.ipRateLimitOptions.realIpHeader }}
  IPRATELIMITOPTIONS_REALIPHEADER: {{ .Values.webApi.ipRateLimitOptions.realIpHeader | quote }}
  {{ end }}
  IPRATELIMITOPTIONS_GENERALRULES_0_LIMIT: {{ .Values.webApi.ipRateLimitOptions.rateLimit | quote }}
  {{ if .Values.services.geoip.external }}
  GEOIPSERVER_URL: {{ .Values.geoip.serverUrl | quote }}
  GEOIPSERVER_APIKEY: {{ .Values.geoip.apiKey | quote }}
  {{ else }}
  GEOIPSERVER_URL: http://{{ .Release.Name }}-geoip-service:8080/json
  {{ end }}
  # Mail settings
  EMAIL_FROMADDRESS: {{ .Values.webApi.email.fromAddress }}
  EMAIL_FROMNAME: {{ .Values.webApi.email.fromName }}
  EMAIL_SIGNATURE: {{ .Values.webApi.email.signature }}
  SMTP_HOST: {{ .Values.webApi.email.smtp.host | quote }}
  SMTP_PORT: {{ .Values.webApi.email.smtp.port | quote}}
  SMTP_ENABLESSL: {{ .Values.webApi.email.smtp.enableSsl | quote}}
  MAILGUN_DOMAIN: {{ .Values.webApi.email.mailgun.domain | quote }}
  # App metrics
  NEW_RELIC_APP_NAME: {{ .Values.webApi.newRelic.applicationName | quote }}
