{{ if .Values.services.adminPortal.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-admin-portal
  labels:
    app: {{ .Release.Name }}-admin-portal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-admin-portal
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-admin-portal
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config-maps/web-portals-configmap.yaml") . | sha256sum }}
    spec:
      containers:
        - name: admin-portal
          image: "{{ .Values.services.adminPortal.image.repository }}:{{ .Values.services.adminPortal.image.tag }}"
          imagePullPolicy: {{ .Values.services.adminPortal.image.pullPolicy }}
          ports:
            - containerPort: 4400
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-web-portals-config
            - secretRef:
                name: {{ .Release.Name }}-web-portals-secret
          readinessProbe:
            httpGet:
               path: /status
               port: 4400
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
      restartPolicy: Always
      imagePullSecrets:
        - name: {{ .Release.Name }}-docker-secret
{{ end }}