apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-web-api
  labels:
    app: {{ .Release.Name }}-web-api
spec:
  replicas: {{ .Values.webApi.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-web-api
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-web-api
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config-maps/web-api-configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secrets/web-api-secret.yaml") . | sha256sum }}
    spec:
      containers:
        - name: web-api
          image: "{{ .Values.services.webApi.image.repository }}:{{ .Values.services.webApi.image.tag }}"
          imagePullPolicy: {{ .Values.services.webApi.image.pullPolicy }}
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-web-api-config
            - secretRef:
                name: {{ .Release.Name }}-web-api-secret
          resources:
            requests:
              cpu: 200m
              memory: "500Mi"
            limits:
              memory: "1.5Gi"
          readinessProbe:
            httpGet:
               path: /healthz
               port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
      restartPolicy: Always
      imagePullSecrets:
        - name: {{ .Release.Name }}-docker-secret
